<div class="container edit_button">
    <button class="btn btn-lg btn-warning btn-lg" type="submit" onclick="javascript:history.back()"><span class="glyphicon glyphicon-chevron-left" </span></button>
</div>

<div class="container">
    <div class="row">
        <h1 class="text-center" class="banner">Company</h1>
    </div>
</div>

<div class="container">
    <form action="/company/signup" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input name="name" class="form-control" placeholder="Enter company name">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input name="email" class="form-control" placeholder="Enter company contact email address">
        </div>

        <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" name="description" rows="3" placeholder="Enter a company description"></textarea>
        </div>

        <div class="form-group">
            <label for="Password">Create a password:</label>
            <input id="password" name="password" type="password"/>
        </div>

        <div class="col-xs-6 text-right">
            <div class="container form_button">
                <button type="submit" class="btn btn-success btn-md">Submit</button>
            </div>
        </div>

    </form>
</div>
