<h1>Company details:</h1>

<h3> <%= @company.name %> </h3>
<p> <%= @company.email %> </p>
<p> <%= @company.description %> </p>

<form action ="" method ="post">
  <input name="name" type="text" value="name"/>
  <input name="email" type="text" value="email"/>
  <textarea name="description"> </textarea>
</form>
