<div class="container">
    <div class="row">
        <h1 class="text-center" class="banner">Company details:</h1>
    </div>
</div>

<div class="container">
  <h3> <%= @company.name %> </h3>
  <p> <%= @company.email %> </p>
  <p> <%= @company.description %> </p>
</div>

  <!-- <form action ="" method ="post">
    <input name="name" type="text" value="name"/>
    <input name="email" type="text" value="email"/>
    <textarea name="description"> </textarea>
  </form> -->

<div class="container">
  <form action="" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" class="form-control" placeholder="Edit company name">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input name="email" class="form-control" placeholder="Edit company contact email address">
    </div>

    <label for="description">Description:</label>
    <textarea class="form-control" name="description" rows="3" placeholder="Edit a company description"></textarea>

    <button type="submit" class="btn btn-warning btn-lg btn-md">Submit</button>

  </form>
</div>
