<h1>Company</h1>

<p>Make account:</p>

<form action ="/company/signup" method="post">
  <input name="name" placeholder="Enter company name"/>
  <input name="email" placeholder="Enter company contact email address"/>
  <textarea name="description" placeholder="Enter a company description"></textarea>
  <button type="submit">Create account</button>
</form>
