<h1>Developer</h1>

<p>Make account:</p>

<form action ="/developer/signup" method="post">
  <input name="name" placeholder="Enter your name"/>
  <input name="email" placeholder="Enter your email address"/>
  <textarea name="code" placeholder="Enter your code snippet"></textarea>
  <button type="submit">Create account</button>
</form>
