<div class="container">
    <div class="row">
        <h1 class="text-center" class="banner">Your details:</h1>
    </div>
</div>

<div class="container">
  <p><%= @developer.name %> </p>
  <p> <%= @developer.email %> </p>
  <p>Code snippet: </p>
  <pre><%= @developer.code %> </pre>
</div>

<div class="container">
<a class="btn btn-warning btn-lg btn-md" href="/developer/<%=@developer.id%>/edit" role="button">Edit</a>
</div>
