<div class="container">
    <div class="row">
        <h1 class="text-center" class="banner">Your Matches:</h1>
    </div>
</div>

<div class="container">
<% @companies.each do |company| %>
<p class="text-center"><%= company.name %> - <%= company.email %></p>
<% end %>
</div>

<button class="btn btn-lg btn-warning btn-lg" type="submit" onclick="javascript:history.back()">Back to Account</button>
